---

_You are currently looking at **version 1.2** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-data-analysis/resources/0dhYG) course resource._

---

# Assignment 3 - More Pandas
All questions are weighted the same in this assignment. This assignment requires more individual learning then the last one did - you are encouraged to check out the [pandas documentation](http://pandas.pydata.org/pandas-docs/stable/) to find functions or methods you might not have used yet, or ask questions on [Stack Overflow](http://stackoverflow.com/) and tag them as pandas and python related. And of course, the discussion forums are open for interaction with your peers and the course staff.

### Question 1 (20%)
Load the energy data from the file `Energy Indicators.xls`, which is a list of indicators of [energy supply and renewable electricity production](Energy%20Indicators.xls) from the [United Nations](http://unstats.un.org/unsd/environment/excel_file_tables/2013/Energy%20Indicators.xls) for the year 2013, and should be put into a DataFrame with the variable name of **energy**.

Keep in mind that this is an Excel file, and not a comma separated values file. Also, make sure to exclude the footer and header information from the datafile. The first two columns are unneccessary, so you should get rid of them, and you should change the column labels so that the columns are:

`['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable's]`

Convert `Energy Supply` to gigajoules (there are 1,000,000 gigajoules in a petajoule). For all countries which have missing data (e.g. data with "...") make sure this is reflected as `np.NaN` values.

Rename the following list of countries (for use in later questions):

```"Republic of Korea": "South Korea",
"United States of America": "United States",
"United Kingdom of Great Britain and Northern Ireland": "United Kingdom",
"China, Hong Kong Special Administrative Region": "Hong Kong"```

There are also several countries with parenthesis in their name. Be sure to remove these, e.g. `'Bolivia (Plurinational State of)'` should be `'Bolivia'`.

<br>

Next, load the GDP data from the file `world_bank.csv`, which is a csv containing countries' GDP from 1960 to 2015 from [World Bank](http://data.worldbank.org/indicator/NY.GDP.MKTP.CD). Call this DataFrame **GDP**. 

Make sure to skip the header, and rename the following list of countries:

```"Korea, Rep.": "South Korea", 
"Iran, Islamic Rep.": "Iran",
"Hong Kong SAR, China": "Hong Kong"```

<br>

Finally, load the [Sciamgo Journal and Country Rank data for Energy Engineering and Power Technology](http://www.scimagojr.com/countryrank.php?category=2102) from the file `scimagojr-3.xlsx`, which ranks countries based on their journal contributions in the aforementioned area. Call this DataFrame **ScimEn**.

Join the three datasets: GDP, Energy, and ScimEn into a new dataset (using the intersection of country names). Use only the last 10 years (2006-2015) of GDP data and only the top 15 countries by Scimagojr 'Rank' (Rank 1 through 15). 

The index of this DataFrame should be the name of the country, and the columns should be ['Rank', 'Documents', 'Citable documents', 'Citations', 'Self-citations',
       'Citations per document', 'H index', 'Energy Supply',
       'Energy Supply per Capita', '% Renewable', '2006', '2007', '2008',
       '2009', '2010', '2011', '2012', '2013', '2014', '2015'].

*This function should return a DataFrame with 20 columns and 15 entries.*

In [17]:
import pandas as pd
import numpy as np

#Energy Indicators excel loading and filtering rows
energy = pd.read_excel("Energy Indicators.xls", skiprows=17, usecols=range(2,6))
energy = energy.ix[0:226]

#Renaming Columns
energy.rename(columns={energy.columns.values[0]:'Country', energy.columns.values[1]:'Energy Supply', energy.columns.values[2]:'Energy Supply per Capita', energy.columns.values[3]:'% Renewable\'s'}, inplace=True)

#Replacing '...' with NaN values
energy.replace(to_replace='...', value=np.NaN, inplace=True)

#Converting joules to peta joules
energy['Energy Supply'] = energy['Energy Supply']*1000000

#Better readability of dataset for debugging
pd.set_option('display.max_colwidth', -1)

#Renaming Country Values
SouthKoreaIndex = energy[energy['Country'] == 'Republic of Korea'].index.tolist()
energy.set_value(SouthKoreaIndex, 'Country', 'South Korea')

USIndex = energy[energy['Country'] == 'United States of America20'].index.tolist()
energy.set_value(USIndex, 'Country', "United States")

UKIndex = energy[energy['Country'] == "United Kingdom of Great Britain and Northern Ireland19"].index.tolist()
energy.set_value(UKIndex, 'Country', "United Kingdom")

HongkongIndex = energy[energy['Country'] == "China, Hong Kong Special Administrative Region3"].index.tolist()
energy.set_value(HongkongIndex, 'Country', "Hong Kong")

#Removing () in Country names
energy['Country'] = energy['Country'].apply(lambda x: x.split('(')[0])
energy = energy.set_index('Country')
number = energy[energy['Energy Supply per Capita'] == 93].index.tolist()
print(number)
print(energy)

###################################################################
#Loading US GDP data
GDP = pd.read_csv("world_bank.csv",skiprows=4)

#Renaming Country values
SouthKoreaIndex= GDP[GDP['Country Name'] == 'Korea, Rep.'].index.tolist()
GDP.set_value(SouthKoreaIndex, 'Country Name', 'South Korea')

IranIndex = GDP[GDP['Country Name'] == 'Iran, Islamic Rep.'].index.tolist()
GDP.set_value(IranIndex, 'Country Name', 'Iran')

HongkongIndex = GDP[GDP['Country Name'] == 'Hong Kong SAR, China'].index.tolist()
GDP.set_value(HongkongIndex, 'Country Name', 'Hong Kong')

###################################################################
#Loading country ranks for Energy and Power Technologies
ScimEn = pd.read_excel("scimagojr-3.xlsx",skiprows=0)

#Merginng Energy, GDP and Ranking Dataset on Country Name Index
Mergeddf = energy.merge(GDP, how='outer', left_on='Country', right_on='Country Name')
Mergeddf = Mergeddf.merge(ScimEn, how='outer', left_on='Country', right_on='Country')

#Filtering the countries ranked 1-15
df = Mergeddf[(Mergeddf['Rank']>0) & (Mergeddf['Rank']<16)]
df = df.set_index('Country')

#Selecting specific columns
df = df[['Rank', 'Documents', 'Citable documents', 'Citations', 'Self-citations', 'Citations per document', 'H index', 'Energy Supply', 'Energy Supply per Capita', '% Renewable\'s', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015']]

#def answer_one():
#    return df

#answer_one()

['China2']
                                           Energy Supply  \
Country
Afghanistan                                3.210000e+08
Albania                                    1.020000e+08
Algeria                                    1.959000e+09
American Samoa                            NaN
Andorra                                    9.000000e+06
Angola                                     6.420000e+08
Anguilla                                   2.000000e+06
Antigua and Barbuda                        8.000000e+06
Argentina                                  3.378000e+09
Armenia                                    1.430000e+08
Aruba                                      1.200000e+07
Australia1                                 5.386000e+09
Austria                                    1.391000e+09
Azerbaijan                                 5.670000e+08
Bahamas                                    4.500000e+07
Bahrain                                    5.740000e+08
Bangladesh                                 1.625000e+09
Barbados                                   1.900000e+07
Belarus                                    1.142000e+09
Belgium                                    2.338000e+09
Belize                                     1.300000e+07
Benin                                      1.700000e+08
Bermuda                                    6.000000e+06
Bhutan                                     6.300000e+07
Bolivia                                    3.360000e+08
Bonaire, Sint Eustatius and Saba           5.000000e+06
Bosnia and Herzegovina                     2.660000e+08
Botswana                                   8.600000e+07
Brazil                                     1.214900e+10
British Virgin Islands                     2.000000e+06
...                                                 ...
Switzerland17                              1.113000e+09
Syrian Arab Republic                       5.420000e+08
Tajikistan                                 1.060000e+08
Thailand                                   5.336000e+09
The former Yugoslav Republic of Macedonia  1.170000e+08
Timor-Leste                                7.000000e+06
Togo                                       1.340000e+08
Tonga                                      3.000000e+06
Trinidad and Tobago                        8.240000e+08
Tunisia                                    4.300000e+08
Turkey                                     4.897000e+09
Turkmenistan                               1.102000e+09
Turks and Caicos Islands                   3.000000e+06
Tuvalu                                    NaN
Uganda                                     4.520000e+08
Ukraine18                                  4.844000e+09
United Arab Emirates                       2.710000e+09
United Kingdom                             7.920000e+09
United Republic of Tanzania                9.940000e+08
United States                              9.083800e+10
United States Virgin Islands              NaN
Uruguay                                    1.960000e+08
Uzbekistan                                 1.798000e+09
Vanuatu                                    3.000000e+06
Venezuela                                  2.871000e+09
Viet Nam                                   2.554000e+09
Wallis and Futuna Islands                  0.000000e+00
Yemen                                      3.440000e+08
Zambia                                     4.000000e+08
Zimbabwe                                   4.800000e+08

                                           Energy Supply per Capita  \
Country
Afghanistan                                10.0
Albania                                    35.0
Algeria                                    51.0
American Samoa                            NaN
Andorra                                    121.0
Angola                                     27.0
Anguilla                                   136.0
Antigua and Barbuda                        84.0
Argentina                                  79.0
Armenia                                    48.0
Aruba                                      120.0
Australia1                                 231.0
Austria                                    164.0
Azerbaijan                                 60.0
Bahamas                                    118.0
Bahrain                                    425.0
Bangladesh                                 10.0
Barbados                                   69.0
Belarus                                    120.0
Belgium                                    210.0
Belize                                     39.0
Benin                                      16.0
Bermuda                                    88.0
Bhutan                                     83.0
Bolivia                                    32.0
Bonaire, Sint Eustatius and Saba           213.0
Bosnia and Herzegovina                     70.0
Botswana                                   39.0
Brazil                                     59.0
British Virgin Islands                     85.0
...                                         ...
Switzerland17                              136.0
Syrian Arab Republic                       28.0
Tajikistan                                 13.0
Thailand                                   79.0
The former Yugoslav Republic of Macedonia  56.0
Timor-Leste                                6.0
Togo                                       19.0
Tonga                                      28.0
Trinidad and Tobago                        611.0
Tunisia                                    39.0
Turkey                                     64.0
Turkmenistan                               210.0
Turks and Caicos Islands                   85.0
Tuvalu                                    NaN
Uganda                                     12.0
Ukraine18                                  107.0
United Arab Emirates                       300.0
United Kingdom                             124.0
United Republic of Tanzania                20.0
United States                              286.0
United States Virgin Islands              NaN
Uruguay                                    58.0
Uzbekistan                                 62.0
Vanuatu                                    10.0
Venezuela                                  95.0
Viet Nam                                   28.0
Wallis and Futuna Islands                  26.0
Yemen                                      13.0
Zambia                                     26.0
Zimbabwe                                   32.0

                                           % Renewable's
Country
Afghanistan                                78.669280
Albania                                    100.000000
Algeria                                    0.551010
American Samoa                             0.641026
Andorra                                    88.695650
Angola                                     70.909090
Anguilla                                   0.000000
Antigua and Barbuda                        0.000000
Argentina                                  24.064520
Armenia                                    28.236060
Aruba                                      14.870690
Australia1                                 11.810810
Austria                                    72.452820
Azerbaijan                                 6.384345
Bahamas                                    0.000000
Bahrain                                    0.000000
Bangladesh                                 1.966329
Barbados                                   0.000000
Belarus                                    0.463389
Belgium                                    9.959739
Belize                                     64.690030
Benin                                      0.000000
Bermuda                                    0.000000
Bhutan                                     100.000000
Bolivia                                    31.477120
Bonaire, Sint Eustatius and Saba           0.000000
Bosnia and Herzegovina                     41.464670
Botswana                                   0.131406
Brazil                                     69.648030
British Virgin Islands                     0.000000
...                                              ...
Switzerland17                              57.745480
Syrian Arab Republic                       11.568270
Tajikistan                                 99.742920
Thailand                                   4.305189
The former Yugoslav Republic of Macedonia  26.140470
Timor-Leste                                0.000000
Togo                                       80.180180
Tonga                                      0.000000
Trinidad and Tobago                        0.000000
Tunisia                                    3.492547
Turkey                                     28.536690
Turkmenistan                               0.000000
Turks and Caicos Islands                   0.000000
Tuvalu                                     0.000000
Uganda                                     68.018180
Ukraine18                                  8.067312
United Arab Emirates                       0.000000
United Kingdom                             10.600470
United Republic of Tanzania                31.072840
United States                              11.570980
United States Virgin Islands               0.000000
Uruguay                                    71.605040
Uzbekistan                                 21.328410
Vanuatu                                    14.705880
Venezuela                                  67.834520
Viet Nam                                   45.321520
Wallis and Futuna Islands                  0.000000
Yemen                                      0.000000
Zambia                                     99.714670
Zimbabwe                                   52.536120

[227 rows x 3 columns]

KeyError: 'Country'

In [14]:
df.loc['China']

Rank                        1.0
Documents                   127050.0
Citable documents           126767.0
Citations                   597237.0
Self-citations              411683.0
Citations per document      4.7
H index                     138.0
Energy Supply              NaN
Energy Supply per Capita   NaN
% Renewable's              NaN
2006                       NaN
2007                       NaN
2008                       NaN
2009                       NaN
2010                       NaN
2011                       NaN
2012                       NaN
2013                       NaN
2014                       NaN
2015                       NaN
Name: China, dtype: float64

### Question 2 (6.6%)
The previous question joined three datasets then reduced this to just the top 15 entries. When you joined the datasets, but before you reduced this to the top 15 items, how many entries did you lose?

*This function should return a single number.*

In [2]:
%%HTML
<svg width="800" height="300">
  <circle cx="150" cy="180" r="80" fill-opacity="0.2" stroke="black" stroke-width="2" fill="blue" />
  <circle cx="200" cy="100" r="80" fill-opacity="0.2" stroke="black" stroke-width="2" fill="red" />
  <circle cx="100" cy="100" r="80" fill-opacity="0.2" stroke="black" stroke-width="2" fill="green" />
  <line x1="150" y1="125" x2="300" y2="150" stroke="black" stroke-width="2" fill="black" stroke-dasharray="5,3"/>
  <text  x="300" y="165" font-family="Verdana" font-size="35">Everything but this!</text>
</svg>

In [4]:
def answer_two():
    return "ANSWER"

df

NameError: name 'df' is not defined

### Question 3 (6.6%)
What are the top 15 countries for average GDP over the last 10 years?

*This function should return a Series named `avgGDP` with 15 countries and their average GDP sorted in descending order.*

In [4]:
def answer_three():
    Top15 = answer_one()
    return "ANSWER"

In [ ]:
### Question 4 (6.6%)
By how much had the GDP changed over the 10 year span for the country with the 6th largest average GDP?

*This function should return a single number.*

In [5]:
def answer_four():
    Top15 = answer_one()
    return "ANSWER"

### Question 5 (6.6%)
What is the mean energy supply per capita?

*This function should return a single number.*

In [6]:
def answer_five():
    Top15 = answer_one()
    return "ANSWER"

### Question 6 (6.6%)
What country has the maximum % Renewable and what is the percentage?

*This function should return a tuple with the name of the country and the percentage.*

In [7]:
def answer_six():
    Top15 = answer_one()
    return "ANSWER"

### Question 7 (6.6%)
Create a new column that is the ratio of Self-Citations to Total Citations. 
What is the maximum value for this new column, and what country has the highest ratio?

*This function should return a tuple with the name of the country and the ratio.*

In [8]:
def answer_seven():
    Top15 = answer_one()
    return "ANSWER"

### Question 8 (6.6%)

Create a column that estimates the population using Energy Supply and Energy Supply per capita. 
What is the third most populous country according to this estimate?

*This function should return a single string value.*

In [9]:
def answer_eight():
    Top15 = answer_one()
    return "ANSWER"

### Question 9 (6.6%)
Create a column that estimates the number of citable documents per person. 
What is the correlation between the number of citable documents per capita and the energy supply per capita?

*This function should return a single number.*

*(Optional: Use the built-in function `plot9()` to visualize the relationship between Energy Supply per Capita vs. Citable docs per Capita).*

In [10]:
def answer_nine():
    Top15 = answer_one()
    return "ANSWER"

In [11]:
def plot9():
    import matplotlib as plt
    %matplotlib inline
    
    Top15 = answer_one()
    Top15['PopEst'] = Top15['Energy Supply'] / Top15['Energy Supply per Capita']
    Top15['Citable docs per Capita'] = Top15['Citable documents'] / Top15['PopEst']
    Top15.plot(x='Citable docs per Capita', y='Energy Supply per Capita', kind='scatter', xlim=[0, 0.0006])

In [12]:
#plot9()

### Question 10 (6.6%)
Create a new column with a 1 if the country's % Renewable value is at or above the median for all countries in the top 15.

*This function should return a series named `HighRenew` whose index is the country name sorted in ascending order of rank.*

In [13]:
def answer_ten():
    Top15 = answer_one()
    return "ANSWER"

### Question 11 (6.6%)
Use the following dictionary to group the Countries by Continent, then create a dateframe that displays the sample size (the number of countries in each continent bin), and the sum, mean, and std deviation for the estimated population of each country.

```python
ContinentDict  = {'China':'Asia', 
                  'United States':'North America', 
                  'Japan':'Asia', 
                  'United Kingdom':'Europe', 
                  'Russian Federation':'Europe', 
                  'Canada':'North America', 
                  'Germany':'Europe', 
                  'India':'Asia',
                  'France':'Europe', 
                  'South Korea':'Asia', 
                  'Italy':'Europe', 
                  'Spain':'Europe', 
                  'Iran':'Asia',
                  'Australia':'Australia', 
                  'Brazil':'South America'}
```

*This function should return a DataFrame with index named Continent `['Asia', 'Australia', 'Europe', 'North America', 'South America']` and columns `['size', 'sum', 'mean', 'std']`*

In [14]:
def answer_eleven():
    Top15 = answer_one()
    return "ANSWER"

### Question 12 (6.6%)
Cut % Renewable into 5 bins. Group Top15 by the Continent, as well as these new % Renewable bins. How many countries are in each of these groups?

*This function should return a Series with a MultiIndex of `Continent`, then the bins for `% Renewable`. Do not include groups with no countries.*

In [15]:
def answer_twelve():
    Top15 = answer_one()
    return "ANSWER"

### Question 13 (6.6%)
Convert the Population Estimate series to a string with thousands separator (using commas)

e.g. 12345678.90 -> 12,345,678.90

*This function should return a Series `PopEst` whose index is the country name and whose values are the population estimate string.*

In [16]:
def answer_thirteen():
    Top15 = answer_one()
    return "ANSWER"

### Optional

Use the built in function `plot_optional()` to see an example visualization.

In [17]:
def plot_optional():
    import matplotlib as plt
    %matplotlib inline
    ax = Top15.plot(x='Rank', y='% Renewable', kind='scatter', 
                    c=['#e41a1c','#377eb8','#e41a1c','#4daf4a','#4daf4a','#377eb8','#4daf4a','#e41a1c',
                       '#4daf4a','#e41a1c','#4daf4a','#4daf4a','#e41a1c','#dede00','#ff7f00'], 
                    xticks=range(1,16), s=6*Top15['2014']/10**10, alpha=.75, figsize=[16,6]);

    for i, txt in enumerate(Top15.index):
        ax.annotate(txt, [Top15['Rank'][i], Top15['% Renewable'][i]], ha='center')

    print("This is an example of a visualization that can be created to help understand the data. \
This is a bubble chart showing % Renewable vs. Rank. The size of the bubble corresponds to the countries' \
2014 GDP, and the color corresponds to the continent.")

In [18]:
#plot_optional()